<div class="container-fluid">
  <div class="row">
      <div class="col-6">
        <table class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>nombre</th>
              <th># de miembros</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let banda of bandas" (click)="onSelected(banda)">
              <td>{{banda.id}}</td>
              <td>{{banda.name}}</td>
              <td>{{banda.numberOfMembers}}</td>
            </tr>
          </tbody>
        </table>
        <p>Average number of members (rouded up): {{getAverageMembers()}}</p>
      </div>
      <div class="col-6">
        <div *ngIf="selected">
          <app-banda-detail [bandaDetail]="selectedBand"></app-banda-detail>
        </div>
      </div>
  </div>
</div>
